/* ----------------------------   CONTENT PANE */

#content_pane {
    width : 100%;
    height: calc(100% - 50px);
    background-color: white;
    /*    margin-top : 10px;*/
}

/*Styles for full photo view*/

div#showPhoto {
    position: fixed;
    top: 53px;
    left: 0px;
    height: calc(100% - 53px);
    width: calc(100% - 257px);
    background-color: #efefef;
    display: none;
    border-right: 3px solid #687798;
}

div#photoFull {
    height: 100%;
    width: calc(100% - 60px);
    float: left;
}

#photoFull .blockBeforeImage {
    height: calc(100% / 2 - 39px);
}

div#toLeft {
    width: 30px;
    height: 100%;
    float: left;
    background-color: grey;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    cursor: pointer;
}

div#fullPhotoInfo {
    width: calc(100% - 60px);
    height: 18px;
    float: left;
    border-bottom: 1px solid black;
    background-color: #dddef1;
    padding-top: 2px;
}

#fullPhotoInfo .title {
    font-weight: bold;
    margin-left: 15px;
}

div#fullPhotoCont {
    width: calc(100% - 60px);
    height: 100%;
    float: left;
    overflow: scroll;
    background-color: white;
}

#fullPhotoCont img {
    max-height: 100%;
    max-width: 100%;
}

img.rotateRight {
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

img.rotateLeft {
    transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}

div#toRight {
    height: 100%;
    width: 30px;
    float: left;
    background-color: grey;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    cursor: pointer;
    margin-top: -21px;
}

div #toLeft:hover, #toRight:hover {
    background-color: #b0afe2;
}

div#photoControl {
    width: 60px;
    height: 100%;
    float: left;
}

div.photoNum {
    font-size: 1.5em;
    margin-left: 15px;
}

#photoControl .iconBlock {
    width: 60px;
    height: 60px;
    vertical-align: middle;
}

#photoControl .iconBlock img {
    width: 40px;
    margin: 10px;
    cursor:pointer;
}

/*Left part of page content*/

#left_pane {
    height: 100%;
    width: 350px;
    border-right : 1px solid #666;
    position: fixed;
    left: 30px;
}

#filter_menu {
    width: calc(100% - 2px);
    height: 130px;
    border: 1px solid #696767;
    border-right: 0px;
    background-color: #f7f7f7;
}

#filter_menu h3 {
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 10px;
}

#filter_menu h4 {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    width: 20%;
    float: left;
}

#filter_menu .datePicker {
    border-radius: 8px;
    width: 40%;
    margin-left: 12px;
    margin-right: 12px;
}

#filter_menu .selectBox {
    border-radius: 8px;
    width: 65%;
    margin-left: 12px;
    margin-top: 5px;
    float: left;
}

#filter_menu .filterBlock {
    float: left;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

#address_pane {
    overflow-y: auto;
    height: calc(100% - 180px);
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid #666;
    border-right: 0px;
    font-weight: normal;
    text-align: left;
    padding-left: 5px;
    margin-bottom: 20px;
    color: black
}

th {
    background-color: #b0afe2;
    text-align: center;
    font-weight: bold;
}

tr.addrTitle:hover {
    cursor:default;
}

tr.addr:hover{
    background-color:#f5c380;
    cursor: pointer;
}

.addressSelected {
    background-color: #fd8c1b;
}

.addressChecked {
    background-color: #48f831
}

.addressSelected.addressChecked {
    background: #dbfe5f; /* Ð”Ð»Ñ ÑÑ‚Ð°Ñ€Ñ‹Ñ… Ð±Ñ€Ð°ÑƒÐ·Ñ€Ð¾Ð² */
    background: linear-gradient(to right, #48f831, #fd8c1b);
}

/*right part of page content*/

#right_pane {
    width: 250px;
    font-size: 12px;
    height: calc(100% - 50px);
    border-left: 1px solid #666;
    background-color: #f7f7f7;
    overflow-y: auto;
    position: fixed;
    right: 0;
}

#right_pane .clientInfoBlock {
    width: 100%;
    border-top: 1px solid #666;
}

#visitCountField {
    color:blue;
    font-weight: bold;
    margin: 5px;
}

.clientInfoBlock .commInput {
    float: left;
    width: 150px;
    margin-top: 3px;
    margin-left: 5px;
}

.clientInfoBlock .commVars {
    float: left;
    width: 50px;
    margin-top: 3px;
    height: 21px;
    margin-left: 10px;
    margin-bottom: 5px;
}

#right_pane .clientInfo {
    font-size: 1.1em;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

#right_pane .tgName {
    font-size: 1.1em;
    font-weight: bold;
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#right_pane input[type=checkbox] {
    transform: scale(1.2);
}

#right_pane .commentArea {
    width: 90%;
    margin-left: 5%;
    height: 50px;
}

#right_pane #saveButton {
    background-color: chartreuse;
    width: 120px;
    height: 30px;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 8px;
    margin-left: 70px;
    margin-top: 15px;
}

#right_pane #clearButton {
    background-color: darkorange;
    width: 100px;
    height: 25px;
    font-size: 1.1em;
    border-radius: 8px;
    margin-left: 80px;
    margin-top: 10px;
}

#right_pane #to_xlsx {
    background-color: #3498db;
    color: white;
    width: 150px;
    height: 25px;
    border-radius: 8px;
    margin-left: 55px;
    margin-top: 20px;
}


/*Central part of page content*/
#center_pane {
    width: calc(100% - 630px);
    height: calc(100% - 50px);
    border-top: 1px solid #666;
    overflow: hidden;
    overflow-y: auto;
    position: fixed;
    left: 380px;
}

#center_pane .photoBlock {
    width: 250px;
    height: 350px;
    margin: 5px;
    float: left;
    display: block;
    text-align: center;
    color: #0330c4;
}

.photoBlock img {
    border-radius: 5px;
    max-height: 290px;
    max-width: 250px;
}

#center_pane .photoBlock textarea {
    color: black;
    border: none;
    height: 35px;
    width: calc(100% - 10px);
    resize: none;
}

div#statPane {
    position: fixed;
    height: 100%;
    width: 230px;
    left: -200px;
    border-right: 1px solid black;
}

div#statInfo {
    width: 200px;
    height: 100%;
    float: left;
}

.infoHeader {
    margin-top: 30px;
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 10px;
    float: left;
    width: 100%;
}

.text {
    font-size: 1.1em;
    margin-top: 15px;
    margin-left: 20px;
    float: left;
}

div.data {
    float: left;
    margin-top: 15px;
    margin-left: 10px;
    font-size: 1.1em;
    font-weight: bold;
}

div#statHeader {
    width: 29px;
    float: left;
    height: 100%;
    background-color: gainsboro;
    border-left: 1px solid black;
    cursor: pointer;
}

.vertBlock {
    height: 200px;
    margin-top: 200px;
    margin-left: 9px;
}

.letter {
    font-size: 1.2em;
    color: black;
}